*_history*
.config/*
!.config/direnv
!.config/fish
!.config/omf
node_modules
!.gitkeep
.hyper_plugins/cache/*
!.hyper_plugins/cache/.gitkeep
.ssh/*
!.ssh/.gitkeep
!.ssh/init.sh
.config/fish/config.fish
