[user]
	name = kkk4oru
	email = kaoru+git@teadea.net
	signingkey = ADF9EF6C0DBD6E08
[commit]
	gpgsign = true
[merge]
	ff = false
	tool = vimdiff
	conflictstyle = diff3
[pull]
	ff = only
[core]
	ignorecase = false
	quotepath = false
	safecrlf = false
	autocrlf = false
	excludesFile = \"$HOME\"/.gitignore_global
[pager]
	branch = cat
[log]
	date = iso-local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
